<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>

<div class="">
  <div class="">
    <%= form_for(@cr) do |f| %>
      <%= render 'shared/error_messages' %>
      
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :message %>
      <%= f.text_area :message, class: 'form-control' %>

      <%= f.submit "Contact us!", class: "" %>
    <% end %>
  </div>
</div>